<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Document</title>
</head>
<body>
  <img class="bg" src="images/9569.png" />
  <div class="bubble header"><img src="images/48.png" alt=""></div>
  <div class="bubble spot1"><img src="images/48.png" alt=""></div>
  <div class="bubble spot2"><img src="images/48.png" alt=""></div>
  <div class="bubble spot3"><img src="images/48.png" alt=""></div>
  <div class="bubble spot4"><img src="images/48.png" alt=""></div>
  <div class="bubble spot5"><img src="images/48.png" alt=""></div>
  <div class="bubble spot6"><img src="images/48.png" alt=""></div>
  <div class="container">
    <input type="text" class="line line1" value="Header" readonly>
    <input type="text" class="line line2" value="Brief Description" readonly>
    <input type="text" class="line line3" value="Secondary Line" readonly>
  </div>
  <div class="options"></div>
  <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
  <script src="javascripts/core.js"></script>
</body>
</html>